*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl
terraform.tfvars
__pycache__/
*.pyc
venv/
.env
**/passwords.txt
**/secrets.yaml
**/*.pem
**/*.key
*.vdi
*.vbox-prev
*.iso
.DS_Store
Thumbs.db
.vscode/
.idea/
